@{
    ViewData["Title"] = "Iletisim";
}


	
	<head>
		<link href="~/css/aras.css" rel="stylesheet">
	</head>
	
	<body>
	<div id="wrap">
		<h1>BİZE YAZIN !</h1>
		<div id='form_wrap'>
			<form>
				<p></p>
				<label for="email">Mesajınız: </label>
				<textarea  name="message" value="Mesajınız" id="message" ></textarea>
				<p></p>	
				<label for="name">İsminiz </label>
				<input type="text" name="name" value="" id="name" />
				<label for="email">Mail Adresiniz </label>
				<input type="text" name="email" value="" id="email" />
				<input type="submit" name ="submit" value="Gönder" />
				<button type="button"/>
			</form>
		</div>
	</div>
</body>












@*Gogle Haritası Baslangıc *@
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12450.158337377085!2d35.45355868214331!3d38.728378440244114!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b11e441a4ea0d%3A0xd9debf20361f07ec!2sSanayi+Mahallesi%2C+38010+Kocasinan%2FKayseri!5e0!3m2!1str!2str!4v1518025264781" width="1250" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
@*Gogle Harita Bitis*@